
<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4 class="panel-title">Todo list</h4>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<div class="input-group">
					<input class="form-control" type="text" ng-model="job" placeholder="Enter your job!"/>
					<span class="input-group-btn">
						<button class="btn btn-primary" ng-click="add()">ADD</button>
					</span>
				</div>
			</div>
			<h4 ng-show="todos.length>0">Remain {{remain()}} of {{todos.length }}</h4>
			<h4 ng-hide="todos.length>0">You must add job</h4>
			<ul class="list-group">
				<li class="list-group-item"  ng-repeat="todo in todos">
					{{todo.text}}
					<div class="pull-right">
						<label><input type="checkbox" ng-model="todo.done">Done</label>
						<a class="btn btn-info btn-xs" ng-click="view($index)"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Detail</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="panel-footer">
			<div class="clearfix">
				<div class="btn-group pull-right">
					<button class="btn btn-primary" ng-click="archive()">Archive</button>
					<button class="btn btn-warning" ng-click="clearSelection()">Clear</button>
				</div>
			</div>
		</div>
	</div>
</div>